* {
  margin: 0;
}

.container-fluid {
  min-height: 100vh;
}

.question {
  background-color: blueviolet;
  color: white;
  height: 300px;
  width: 100%;
}

#answers {
  padding: 10px;
  height: 150px;
  width: 100%;
}

#answers button {
  border-radius: 65%;
  width: 150px;
  height: 100px;
}

.wrong {
  background-color: violet;
}

.right {
  background-color: lightgreen;
}

#users {
  background-color: lightskyblue;
  height: 200px;
  width: 100%;
}

#landing select,
#getem {
  width: 100%;
}

#numberOfQuestions {
  width: 200px;
}

#landing select,
#getem,
#numberOfQuestions {
  height: 30px;
}

#getem {
  height: 20%;
}

#scoreboard {
  border: 2px solid lightgrey;
  height: 85%;
  border-radius: 5px;
}

#landingRight,
#landingLeft {
  text-align: center;
}
